
Flask==2.2.5
numpy==1.21.6
opencv-python==4.8.1.78
packaging==23.2
paramiko==3.3.1
Pillow==10.0.1
py2exe==0.13.0.1
pycparser==2.21
pyelftools==0.30
Pygments==2.16.1
PyNaCl==1.5.0
pyparsing==3.1.1
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
pywin32==306
requests==2.31.0
ROPGadget==7.4
rpyc==5.3.1
scipy==1.11.3
six==1.16.0
sockets==1.0.0
sortedcontainers==2.4.0
tk==0.1.0
unicorn==2.0.1.post1
urllib3==2.0.6
Werkzeug==3.0.0
